div.page-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
div.page-content .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 385px;
  max-height: 520px;
  height: 60vh;
  min-width: 400px;
  width: 40vw;
  max-width: 500px;
  padding: 30px 30px 10px;
  border-radius: 8px;
  background-color: white;
}
.content {
  background: #001529;
  height: 100%;
}
div.page-content .wrapper img.logo-img {
  flex: 0 0 120px;
  width: 120px;
  height: 120px;
}
div.page-content .wrapper .text-wrapper {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
div.page-content .wrapper .text-wrapper .title-text {
  font-size: 24px;
  font-style: italic;
  color: rgba(0, 0, 0, 0.65);
}
div.page-content .wrapper button {
  margin-top: 26px;
  width: 100%;
}
div.page-content .wrapper .copy-right {
  margin-top: 30px;
  flex: 0 0 40px;
}
.login-form {
  flex: 1;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  text-align: center;
  height: fit-content;
}
.ant-form-item-children {
  height: fit-content;
}
.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}
