<div class="content">
  <div class="full-screen page-content">
    <div class="wrapper">
      <img class="logo-img"
           [src]="logo"
           alt="">
      <div class="text-wrapper">
        <h1 class="title-text">
          {{'zerofee-app.menu.login'| translate}}
        </h1>
      </div>
      <form class="login-form">
        <div class="example-container">
          <mat-form-field>
            <input matInput placeholder="Enter your email" [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" [formControl]="password">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>
        </div>

        <button mat-raised-button color="primary" (click)="onLoginClick()">{{'zerofee-app.menu.login'| translate}}</button>
      </form>

    </div>
  </div>
</div>

