<h1 mat-dialog-title>{{'zerofee.filters'|translate}}</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput [(ngModel)]="filter.username" placeholder="User Name">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="filter.email_filter" placeholder="Email">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button id="cancel" (click)="onNoClick()">{{'zerofee.nothanks'|translate}}</button>
  <button mat-button [mat-dialog-close]="filter" cdkFocusInitial>{{'zerofee.ok'|translate}}</button>
</div>
