<mat-sidenav-container>

  <mat-sidenav #sidenav [opened]="true" mode="side">
    <div class="branding"><img [src]="logo" />
      <span data-testid="title">{{ 'zerofee-app.title.admin' | translate}}</span></div>

    <mat-accordion>

      <mat-expansion-panel *ngFor="let mainItem of mainMenu | keyvalue">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{mainItem.key}}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-nav-list  *ngFor="let subMenu of mainItem.value | keyvalue">
          <a mat-list-item [routerLink]="subMenu.value"
             routerLinkActive="active">
            {{subMenu.key}}
          </a>
        </mat-nav-list>
      </mat-expansion-panel>

    </mat-accordion>

  </mat-sidenav>

  <mat-sidenav-content>
    <perfect-scrollbar [config]="config">
    <div class="toolbar d-none d-sm-inline" [style.position]="isHeaderSticky ? 'fixed' : 'inherit'" [class.mat-elevation-z4]="isHeaderSticky">
      <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.toggle()">
          <fa-icon icon="bars"></fa-icon>

        </button>

        <div style="margin-left: auto; display: flex">
          <button mat-button [matMenuTriggerFor]="menu">
            <ngx-avatar *ngIf="user"  name="Jane Doe" value="25%" bgColor="#000000" fgColor="#58D3F7" size="35"
                         textSizeRatio="2.5" [round]="true" src="{{user.avatar}}" ></ngx-avatar>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="editProfile()">{{'zerofee-app.user.profile' | translate}}</button>
          </mat-menu>
        <button mat-icon-button routerLink="./settings" class="d-none d-sm-inline">
          <fa-icon icon="cog"></fa-icon>
        </button>
        </div>
        <span>
         </span>
      </mat-toolbar>
    </div>

    <div class="content container" style="padding:14px; background: #fff; min-height: 100%; margin-top: 6px!important;" [@routeAnimations]="o.isActivated && o.activatedRoute.routeConfig.path">
      <router-outlet #o="outlet"></router-outlet>
   </div>
    </perfect-scrollbar>

  </mat-sidenav-content>

</mat-sidenav-container>
