.backtop {
  background-color: #1a1a1a !important;
  position: fixed;
  width: 40px;
  height: 40px;
  line-height: 32px;
  z-index: 200;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  opacity: 0.8;
  z-index: 102;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  mat-icon:hover,
  mat-icon:focus {
    color: #b881fc;
    text-decoration: none;
    outline: none;
  }
  mat-icon {
    color: #4285f4;
  }
}
