<div fxLayout="column" fxLayout.xs="column"  style="padding: 10px; margin: 20px">

  <div class="mat-headline" fxLayout="row" style="margin: 20px; border-bottom: 1px solid #dddddd;">
    Pictures
    <span class="pull-right"></span>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="addPictures()">
        <mat-icon>photo_album</mat-icon>
        <span>{{'zerofee-app.new.picture'|translate}}</span>
      </button>
    </mat-menu>
  </div>

  <div fxLayout="row" fxLayout.xs="column">
    <div id="photos-videos" class="p-24">
      <div class="period">


        <div class="period-media" fxLayout="row wrap">
          <div class="media" *ngFor="let media of gallery">
            <img class="preview" [src]="media.thumb" title="ssdsd">
            <div class="title">
              <h3 *ngIf="media.is_portrait">Main Picture</h3>
              <button mat-button *ngIf="!media.is_portrait" (click)="deletePicture(media.id)">Delete</button>
              <button mat-button *ngIf="!media.is_portrait" (click)="makePortrait(media.id)" >Main</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

