<footer id="colophon" class="footer_back_repeat_no">
  <div id="footer-widget-area" class="row">
    <div id="first" class="widget-area col-md-4">
      <ul class="xoxo">
       <li  class="widget-container widget_text">
         <h3 class="widget-title-footer">ABOUT ZERO RENTALS</h3>
         <div class="textwidget">
           <p>This is committed to delivering a high level of expertise, customer service, and attention to detail to the market of accommodation booking.</p><p></p>
         </div>
       </li>
      </ul>
    </div>
    <div id="second" class="widget-area col-md-4">
      <ul class="xoxo">
        <li  class="widget-container widget_recent_entries">
          <h3 class="widget-title-footer">Latest News</h3>
          <ul style="padding: 0"><li>
            <a href="what-guests-want-to-know/index.html">What Guests Want to Know</a>
          </li>
            <li>
              <a href="how-to-be-a-great-host/index.html">How to be a Great Host for Renters</a>
            </li>
            <li>
              <a href="offering-a-welcoming-space/index.html">Offering a Full Welcoming Space</a>
            </li><li>
              <a href="best-beaches-for-an-autumn-vacation/index.html">Best Beaches For An Autumn Vacation</a>
            </li>
            <li>
              <a href="10-best-september-vacations/index.html">10 Best September Vacations</a>
            </li>
            <li>
              <a href="5-best-budget-vacations/index.html">5 Best Budget Vacations</a>
            </li>
          </ul>
        </li>

      </ul>
    </div>
    <div id="third" class="widget-area col-md-4">
      <ul class="xoxo">
      <li  class="widget-container contact_sidebar">
        <h3 class="widget-title-footer">Contact</h3>
        <div class="contact_sidebar_wrap">
          <p class="widget_contact_addr">
            <fa-icon [icon]="home"></fa-icon>
            3755 Commercial St SE Salem, Corner with Sunny Boulevard, 3755 Commercial OR 97302</p>
          <p class="widget_contact_phone">
            <fa-icon [icon]="phone"></fa-icon>
            <a href="tel:%28305%29+555-4446">(305) 555-4446</a>
          </p>
          <p class="widget_contact_email">
            <fa-icon [icon]="mail"></fa-icon>
            <a href="cdn-cgi/l/email-protection.html#76131b171f1a360f19030412191b171f185815191b">email@yourdomain.com</a>
          </p>
          <p class="widget_contact_url">
            <fa-icon [icon]="pc"></fa-icon>
            <a href="index.html">Zero</a></p>
        </div>
      </li>
      <li  class="widget-container social_sidebar">
        <h3 class="widget-title-footer">Social Links:</h3>
        <div class="social_sidebar_internal">
          <a href="https://www.facebook.com/" target="_blank">
            <fa-icon [icon]="facebook"></fa-icon>
          </a>
          <a href="https://www.google.com/" target="_blank">
            <fa-icon [icon]="google"></fa-icon>
          </a>
          <a href="https://www.medium.com/" target="_blank">
            <fa-icon [icon]="['fab','medium-m']"></fa-icon>

          </a>
          <a href="https://www.twitter.com/" target="_blank">
            <fa-icon [icon]="['fab','twitter']"></fa-icon>

          </a>
          <a href="https://www.youtube.com/"
             target="_blank">
            <fa-icon [icon]="['fab','youtube']"></fa-icon>

          </a>
          <a href="https://www.instagram.com/" target="_blank">
            <fa-icon [icon]="['fab','instagram']"></fa-icon>
          </a>
          <a href="https://www.slides.com/" target="_blank">
            <fa-icon icon="play-circle"></fa-icon>
          </a>
        </div>
      </li>
    </ul>
    </div>
  </div>
  <div class="sub_footer">
    <div class="sub_footer_content container ">
      <span class="copyright"> Copyright 2018 | Vhagar. All Rights Reserved. </span>
      <div class="subfooter_menu">
        <div class="menu-footer-menu-container">
          <ul id="menu-footer-menu" class="menu">
            <li id="menu-item-28061" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-28061">
              <a href="terms-and-conditions/index.html">Terms and Conditions</a>
            </li><li id="menu-item-28062" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-28062">
            <a href="contact/index.html">Contact</a>
          </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
