::ng-deep .mat-tab-label-content {
  font-size: 15px !important;
}
::ng-deep .mat-tab-body.mat-tab-body-active {
  color: #303030;
}
::ng-deep .mat-form-field-label {
  color: #303030 !important;
}
::ng-deep .mat-form-field-outline {
  color: rgb(32, 15, 128) !important;
}
::ng-deep .mat-select-value {
  color: rgba(8, 0, 24, 0.95) !important;
}
