<zerofee-app-listingheader></zerofee-app-listingheader>
<mat-tab-group mat-stretch-tabs backgroundColor="primary">
  <mat-tab label="Property">
    <ng-template matTabContent>
      Detalles:
    </ng-template>
  </mat-tab>
  <mat-tab label="Pictures">
    <ng-template matTabContent>
      Fotos:
    </ng-template>
  </mat-tab>
  <mat-tab label="Prices">
    <ng-template matTabContent>
      Precio:
    </ng-template>
  </mat-tab>
  <mat-tab label="Map">
    <ng-template matTabContent>
      Mapa:
    </ng-template>
  </mat-tab>
  <mat-tab label="Calendar">
    <ng-template matTabContent>
      Calendar:
    </ng-template>
  </mat-tab>
  <mat-tab label="Reservations">
    <ng-template matTabContent>
      Calendar:
    </ng-template>
  </mat-tab>
</mat-tab-group>

