<zerofee-app-listingheader></zerofee-app-listingheader>
<mat-tab-group mat-stretch-tabs backgroundColor="primary">
  <mat-tab label="Overview">
    <ng-template matTabContent>
      Overview:
    </ng-template>
  </mat-tab>
  <mat-tab label="Property">
    <ng-template matTabContent>
      <zerofee-app-property [descriptionData]="descriptionForm" [generalData]="generalForm" [termsData]="termsForm" [listingId]="selectedListings.pk"></zerofee-app-property>
    </ng-template>
  </mat-tab>
  <mat-tab label="Pictures">
    <ng-template matTabContent>
      <zerofee-app-pictures></zerofee-app-pictures>
    </ng-template>
  </mat-tab>
  <mat-tab label="Prices">
    <ng-template matTabContent>
      <zerofee-app-prices></zerofee-app-prices>
    </ng-template>
  </mat-tab>
  <mat-tab label="Contact">
    <ng-template matTabContent>
      <zerofee-app-map></zerofee-app-map>
    </ng-template>
  </mat-tab>
  <mat-tab label="Calendar">
    <ng-template matTabContent>
      <zerofee-app-calendar></zerofee-app-calendar>
    </ng-template>
  </mat-tab>
  <mat-tab label="Reservations">
    <ng-template matTabContent>
      Reservations:
    </ng-template>
  </mat-tab>
</mat-tab-group>

