<div  class="profile-card-holder " *ngIf="profile" >
  <div fxLayout="column" >
    <div fxLayout="row" fxLayoutAlign="space-around center"  >
      <div  class="banner">
        <img width="100" [style.borderRadius]="'50%'" [src]="profile?.picture.thumbnail || 'assets/images/noavatar.png'">
        <input
          style="display: none"
          type="file" accept="image/*" (change)="onFileChanged($event)"
          #fileInput>
      </div>
    </div>
    <div   class="profile-details mat-elevation-z8" >
      <div fxLayout="column" class="profile-details-holder" fxLayoutAlign="space-around center">
        <h1 class="mat-headline center-align" >{{profile.first_name}} {{profile.last_name}}</h1>
        <div class="mat-subheading-1 center-align" >
          <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" fxLayout="column" fxFlex="100" >
          <div class="row">

              <mat-form-field  class="col-md-6">
                <input matInput placeholder="Username" formControlName="username" >
              </mat-form-field>


              <mat-form-field class="col-md-6" >
                <input matInput placeholder="Email address" type="email" formControlName="email">
              </mat-form-field>

          </div>
          <div class="row">

              <mat-form-field class="col-md-6" >
                <input matInput placeholder="Fist Name" type="text" formControlName="first_name">
              </mat-form-field>


              <mat-form-field class="col-md-6" >
                <input matInput placeholder="Last Name" type="text" formControlName="last_name">
              </mat-form-field>

          </div>
            <div class="row">

              <mat-form-field class="col">
                <input matInput placeholder="Adress" type="text" formControlName="address">
              </mat-form-field>
            </div>

          <div class="row">

              <mat-form-field class="col-md-4" >
                <input matInput placeholder="City" type="text" formControlName="city">
              </mat-form-field>


              <mat-form-field class="col-md-4" >
                <input matInput placeholder="Country" type="text"formControlName="country" >
              </mat-form-field>


              <mat-form-field  class="dummy col-md-4">
                <mat-select placeholder="Gender" formControlName="gender">
                  <mat-option value="M">Male</mat-option>
                  <mat-option value="F">Female</mat-option>
                  <mat-option value="U">Unknown</mat-option>
                </mat-select>

              </mat-form-field>

          </div>

            <div class="row">

              <mat-form-field  class="col">
                <textarea matInput placeholder="About Me"  formControlName="about_me"></textarea>
             </mat-form-field>

            </div>

          <button mat-raised-button type="submit"  class="btn btn-primary float-right">Update Profile</button>

          <button  mat-raised-button color="warn" (click)="fileInput.click()" >Change Picture</button>

        </form></div>

      </div>

    </div>

  </div>
</div>

