<div class="page-header section-dark"  style="background-image: url('../../../../../assets/intro.jpg')">
  <div class="filter"></div>
  <div class="content-center" fxLayout="row" >
    <div class="container" fxHide fxShow.gt-sm fxFlex="60" >
       <div class="title-brand">
        <h1 class="presentation-title">Holiday under the sun</h1>
      </div>

      <h2 class="presentation-subtitle">Book a villa or a house in a beautiful island of Cuba</h2>
    </div>
    <div fxFlex="" id="searcher-content" [ngClass]="routeAnimationsElements" >
    <zerofee-app-searchbox class="searcher" ></zerofee-app-searchbox>
    </div>
  </div>

  <div class="moving-clouds" style="background-image: url('../../../../../assets/images/clouds.png'); ">

  </div>
</div>
