<div class="page-header section-dark" style="background-image: url('../../../../../assets/intro.jpg')">
  <div class="filter"></div>
  <div class="content-center row">
    <div class="container col-md-6">
       <div class="title-brand">
        <h1 class="presentation-title">Travel the World</h1>
      </div>

      <h2 class="presentation-subtitle text-center">Discover your new favorite spaces.</h2>
    </div>
    <zerofee-app-searchbox class="col-md-4 searcher " [ngClass]="routeAnimationsElements"></zerofee-app-searchbox>
  </div>

  <div class="moving-clouds" style="background-image: url('../../../../../assets/images/clouds.png'); ">

  </div>
</div>
