<div class="search_wrapper type2 with_search_form_float"
     id="search_wrapper">
  <div class="adv-2-header">Make a Reservation
  </div>
  <div id="container">
  <div id="navi" class="adv-2-wrapper">

  </div>
  <div id='infoi'>
    <form class="mat-dialog-content" >
      <p>
        <zerofee-app-big-input placeholder="Location"></zerofee-app-big-input>
      </p>
      <p>
        <zerofee-app-big-input placeholder="From"></zerofee-app-big-input>
      </p>
      <p>
        <zerofee-app-big-input placeholder="To"></zerofee-app-big-input>
      </p>
      <p>
        <zerofee-app-big-input placeholder="Guests"></zerofee-app-big-input>
      </p>
      <button mat-raised-button type="submit"  color="warn"  class="btn btn-primary full">SEARCH</button>
    </form>
  </div>
  </div>
</div>
