@import '../../../core/scss/fuse';
.pull-right {
  flex: 1 1 auto;
}
.sales-list {
  margin: 10px 5px;
  background: rgba(145, 151, 187, 0.34);
}
.mat-table {
  width: 100%;
  background: transparent !important;
  box-shadow: none;

  .mat-column-checkbox {
    flex: 0 1 64px;
    padding-left: 18px;
  }

  .mat-column-avatar {
    flex: 0 1 64px;
  }

  .mat-column-buttons {
    flex: 0 1 80px;
  }
  .mat-header-cell {
    font-size: 20px;
  }
  .mat-row {
    position: relative;
    cursor: pointer;
    padding: 8px;

    .mat-cell {
      min-width: 0;

      &.mat-column-detail-button {
        flex: 0 1 auto;
        padding: 0 24px 0 0;

        @include media-breakpoint('gt-md') {
          display: none;
        }
      }
    }
  }
}
