<div  class="sales-list mat-elevation-z4 "  >
  <mat-toolbar>

    <mat-toolbar-row>
      <span>{{'zerofee.listings'|translate}}</span>
      <span class="pull-right"></span>
      <button mat-icon-button>
        <mat-icon (click)="reload();" >refresh</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>list</mat-icon>
          <span>List</span>
        </button>
        <button mat-menu-item>
          <mat-icon>print</mat-icon>
          <span>Print</span>
        </button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-progress-bar *ngIf="showLoader"
                    [color]="'primary'"
                    [mode]="'indeterminate'"
                    [value]="90"
                    [bufferValue]="'10'">
  </mat-progress-bar>
  <mat-list >
    <mat-list-item (click)="seeDetails()" *ngFor="let listing of displayListings">

      <h3  > {{listing.nickname}} </h3>
      <span class="pull-right"></span>
      <h3  > {{listing.publicName}} </h3>

      <span class="pull-right"></span>
      <h3 [ngSwitch]="listing.roomType">
        <div *ngSwitchCase="0">
          No Set
        </div>
        <div *ngSwitchCase="1">
          Room
        </div>
        <div *ngSwitchCase="2">
          Full Property
        </div>
      </h3>
      <span class="pull-right"></span>
      <h3 [ngSwitch]="listing.propertyType">
        <div *ngSwitchCase="0">
          No Set
        </div>
        <div *ngSwitchCase="1">
          APARTMENT
        </div>
        <div *ngSwitchCase="2">
          HOME
        </div>
        <div *ngSwitchCase="3">
          Villa
        </div>
        <div *ngSwitchCase="4">
          Penthouse
        </div>

      </h3>
      <span class="pull-right"></span>
      <mat-chip-list>
        <mat-chip  *ngIf="listing.isActive" color="accent" selected="true" >
        Active
        </mat-chip>
        <mat-chip *ngIf="!listing.isActive"  color="warn" selected="true" >
          Inactive  &nbsp;
        </mat-chip>
      </mat-chip-list>
    </mat-list-item>
  </mat-list>
  <mat-paginator [length]="resultsLength" [pageSizeOptions]="[10, 20, 30]"  showFirstLastButtons (page)="$event" ></mat-paginator>


</div>
