<div  class="sales-list mat-elevation-z4 "  >
  <mat-toolbar>

    <mat-toolbar-row>
      <span>{{'zerofee.listings'|translate}}</span>
      <span class="pull-right"></span>
      <button mat-icon-button>
        <mat-icon (click)="reload();" >refresh</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>list</mat-icon>
          <span>List</span>
        </button>
        <button mat-menu-item>
          <mat-icon>print</mat-icon>
          <span>Print</span>
        </button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-progress-bar *ngIf="showLoader"
                    [color]="'primary'"
                    [mode]="'indeterminate'"
                    [value]="90"
                    [bufferValue]="'10'">
  </mat-progress-bar>

  <mat-table #table [dataSource]="displayListings"
             [@animateStagger]="{value:'50'}">

    <!-- NickName Column -->
    <ng-container matColumnDef="nickname">
      <mat-header-cell *matHeaderCellDef>Nickname</mat-header-cell>
      <mat-cell *matCellDef="let listing">
        <p class="text-truncate font-weight-600">{{listing.nickname}}</p>
      </mat-cell>
    </ng-container>

    <!-- PublicName Column -->
    <ng-container matColumnDef="publicName">
      <mat-header-cell *matHeaderCellDef  >Public Name</mat-header-cell>
      <mat-cell *matCellDef="let listing" >
        <p class="email text-truncate">
          {{listing.publicName}}
        </p>
      </mat-cell>
    </ng-container>

    <!-- Room Type Column -->
    <ng-container matColumnDef="roomType">
      <mat-header-cell *matHeaderCellDef >Room Type</mat-header-cell>
      <mat-cell *matCellDef="let listing" >
        <p class="phone text-truncate">
          {{listing.roomType}}
        </p>
      </mat-cell>
    </ng-container>

    <!-- PropertyType Title Column -->
    <ng-container matColumnDef="propertyType">
      <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Property Type</mat-header-cell>
      <mat-cell *matCellDef="let listing"fxHide fxShow.gt-sm >
        <p class="job-title text-truncate">
          {{listing.propertyType}}
        </p>
      </mat-cell>
    </ng-container>

    <!-- Is Active Column -->
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Status</mat-header-cell>
      <mat-cell *matCellDef="let listing" fxHide fxShow.gt-sm>
        <mat-chip-list>
          <mat-chip  *ngIf="listing.isActive" color="accent" selected="true" >
            Active
          </mat-chip>
          <mat-chip *ngIf="!listing.isActive"  color="warn" selected="true" >
            Inactive  &nbsp;
          </mat-chip>
        </mat-chip-list>
      </mat-cell>
    </ng-container>




    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let listing; columns: displayedColumns;"
             class="contact"
             (click)="seeDetails(listing.pk)"
             matRipple
             [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
  </mat-table>
  <mat-paginator [length]="resultsLength" [pageSizeOptions]="[10, 20, 30]"  showFirstLastButtons (page)="$event" ></mat-paginator>


</div>
