
<div class="courses" fxLayout="row wrap" fxLayoutAlign="center" style="margin-top: 15px">

  <div class="course" *ngFor="let feature of features" fxFlex="100" fxFlex.gt-xs="50"
       fxFlex.gt-sm="33" [ngClass]="routeAnimationsElements">

    <mat-card>
      <mat-card-title>
        <code *ngIf="feature.version">{{feature.version}}</code>{{feature.name | translate}}
      </mat-card-title>
      <mat-card-subtitle>
        {{ feature.description | translate }}
      </mat-card-subtitle>
      <mat-card-actions>
        <a *ngIf="feature.github" mat-icon-button [href]="feature.github" target="_blank">
          <fa-icon [icon]="['fab','github']"></fa-icon>
        </a>
        <a mat-button [href]="feature.documentation" target="_blank">
          <fa-icon icon="book"></fa-icon>{{ 'zerofee-app.features.documentation' | translate }}
        </a>
        <a *ngIf="feature.medium" mat-button [href]="feature.medium" target="_blank">
          <fa-icon [icon]="['fab','medium-m']"></fa-icon>{{ 'zerofee-app.features.guide' | translate }}
        </a>
      </mat-card-actions>
    </mat-card>

  </div>

  <div class="no-courses" *ngIf="features.length === 0">
    No courses found!
  </div>

</div>
<div class="courses" fxLayout="row wrap" fxLayoutAlign="center">

  <div class="course" fxFlex="100" fxFlex.gt-xs="50"
       fxFlex.gt-sm="33" [ngClass]="routeAnimationsElements">

    <zerofee-app-listingcard></zerofee-app-listingcard>

  </div>


</div>
