<mat-sidenav-container>

  <mat-sidenav #sidenav [opened]="true" mode="side">
    <div class="branding"><img [src]="logo" />
      <span data-testid="title">{{ 'zerofee-app.title.admin' | translate}}</span></div>

    <mat-accordion>

      <mat-expansion-panel *ngFor="let mainItem of mainMenu | keyvalue">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{mainItem.key}}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-nav-list  *ngFor="let subMenu of mainItem.value | keyvalue">
          <a mat-list-item [routerLink]="subMenu.value"
             routerLinkActive="active">
            {{subMenu.key}}
          </a>
        </mat-nav-list>
      </mat-expansion-panel>

    </mat-accordion>

  </mat-sidenav>

  <mat-sidenav-content>
    <div class="toolbar d-none d-sm-inline" [style.position]="isHeaderSticky ? 'fixed' : 'inherit'" [class.mat-elevation-z4]="isHeaderSticky">
      <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.toggle()">
          <fa-icon icon="bars"></fa-icon>

        </button>
        <div style="margin-left: auto">

        <button mat-icon-button routerLink="./settings" class="d-none d-sm-inline">
          <fa-icon icon="cog"></fa-icon>
        </button>
        </div>
        <span>
         </span>
      </mat-toolbar>
    </div>

    <div class="content container" style="padding:14px; background: #fff; min-height: 100%; margin-top: 6px!important;" [@routeAnimations]="o.isActivated && o.activatedRoute.routeConfig.path">
      <router-outlet #o="outlet"></router-outlet>
   </div>

  </mat-sidenav-content>

</mat-sidenav-container>
