<mat-sidenav-container>

  <mat-sidenav #sidenav [opened]="true" mode="side">
    <div class="branding"><img [src]="logo" />
      <span data-testid="title">{{ 'zerofee-app.title.admin' | translate}}</span></div>

    <mat-accordion>

      <mat-expansion-panel *ngFor="let mainItem of mainMenu | keyvalue">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{mainItem.key}}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-nav-list  *ngFor="let subMenu of mainItem.value | keyvalue">
          <a mat-list-item [routerLink]="subMenu.value"
             routerLinkActive="active">
            {{subMenu.key}}
          </a>
        </mat-nav-list>
      </mat-expansion-panel>

    </mat-accordion>

  </mat-sidenav>

  <mat-sidenav-content>
  <div class="wrapper">
   <div class="content" [@routeAnimations]="o.isActivated && o.activatedRoute.routeConfig.path">
      <router-outlet #o="outlet"></router-outlet>
   </div>



  </div>
  </mat-sidenav-content>

</mat-sidenav-container>
