
<mat-toolbar class="header special-list">
  <div class="item-picture">

  </div>
  <div class="content ng-binding">
    <div class="pull-right">
      <mat-chip *ngIf="!listing?.isActive" color="warn" selected="true" >
       &nbsp; Inactive
      </mat-chip>
      <mat-chip *ngIf="listing?.isActive" color="primary" selected="true" >
        &nbsp; Active
      </mat-chip>
    </div>
    <strong class="item-title ">
      <mat-chip color="accent" selected>{{listing?.nickname}}</mat-chip>
      {{listing?.publicName}}
    </strong>
    <mat-icon>place</mat-icon>
    {{listing?.address.full}}
     </div>
</mat-toolbar>
