<div fxLayout="column" fxLayout.xs="column"  style="background-color: white;padding: 10px; margin: 20px">

  <div class="mat-headline" style="margin: 20px; border-bottom: 1px solid #dddddd;">
    GENERAL

  </div>

  <div fxLayout="row" fxLayout.xs="column">
    asdasd
  </div>
</div>
<div fxLayout="column" fxLayout.xs="column"  style="background-color: white;padding: 10px;margin: 20px">

  <div class="mat-headline" style="margin: 20px; border-bottom: 1px solid #dddddd;">
    AMENITIES
  </div>

  <div fxLayout="row" fxLayout.xs="column">
    asdasd
  </div>
</div>
<div fxLayout="column" fxLayout.xs="column"  style="background-color: white;padding: 10px;margin: 20px">

  <div class="mat-headline" style="margin: 20px; border-bottom: 1px solid #dddddd;">
    TERMS
  </div>

  <div fxLayout="row" fxLayout.xs="column">
    asdasd
  </div>
</div>
<div fxLayout="column" fxLayout.xs="column"  style="background-color: white;padding: 10px;margin: 20px">

  <div class="mat-headline" style="margin: 20px; border-bottom: 1px solid #dddddd;">
    PUBLIC DESCRIPTIONS
  </div>

  <div fxLayout="row" fxLayout.xs="column">
    asdasd
  </div>
</div>

