@import 'styles-variables';

@import 'styles-reset';

@import '../node_modules/@angular/material/theming';
@import '../node_modules/bootstrap/scss/bootstrap-reboot';
@import '../node_modules/bootstrap/scss/bootstrap-grid';

@include mat-core();

@import 'themes/default-theme.scss';
@import 'themes/light-theme.scss';
@import 'themes/black-theme.scss';
@import 'themes/nature-theme.scss';

@import 'styles-reset.scss-theme';
@import 'app/app.component.scss-theme';
@import 'app/shared/big-input/big-input.component.scss-theme';
@import 'app/modules/zeroapp/about/about.component.scss-theme';
@import 'app/core/auth/components/login/login.theme';
@import 'app/core/auth/components/forgot-password/forgot-password.theme';
@import 'app/core/auth/components/register/register.theme';
@import 'app/core/auth/components/mail-confirm/mail-confirm.theme';
@import 'app/core/auth/components/reset-password/reset-password.theme';
@mixin custom-components-theme($theme) {
  @include zerofee-app-styles-reset-theme($theme);
  @include zerofee-app-app-component-theme($theme);
  @include zerofee-app-about-component-theme($theme);
  @include zerofee-app-big-input-component-theme($theme);
}

.default-theme {
  @include angular-material-theme($zerofee-app-theme);
  @include custom-components-theme($zerofee-app-theme);
}

.light-theme {
  @include angular-material-theme($zerofee-app-light-theme);
  @include custom-components-theme($zerofee-app-light-theme);
}

.black-theme {
  @include angular-material-theme($zerofee-app-black-theme);
  @include custom-components-theme($zerofee-app-black-theme);
}

.nature-theme {
  @include angular-material-theme($zerofee-app-nature-theme);
  @include custom-components-theme($zerofee-app-nature-theme);
}
* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

html,
body {
  height: 100%;
}
body {
  padding: 0px !important;
  margin: 0px !important;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.components-container-gt-xs {
  padding: 20px;
  // background-color: #fdfdfd;
}
.components-container-xs {
  padding: 5px !important;
  // background-color: #fdfdfd;
}
.component-preview {
  padding: 20px;
}
.ps-content {
  height: 100%;
}
