<div class="container">
  <h3  mat-dialog-title>New User</h3>
  <form class="mat-dialog-content" [formGroup]="userForm" (ngSubmit)="submit()" >
    <div class="row">
      <div class="col-md-6">
        <mat-form-field >
          <input matInput placeholder="Username" formControlName="username" >
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field >
          <input matInput placeholder="Email address" type="email" formControlName="email">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field >
          <input matInput placeholder="Fist Name" type="text" formControlName="first_name">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field >
          <input matInput placeholder="Last Name" type="text" formControlName="last_name">
        </mat-form-field>
      </div>
    </div>
    <div class="row">

        <mat-form-field class="col">
          <input matInput placeholder="Password" type="password" formControlName="password">
        </mat-form-field>

    </div>
    <div class="row">
    <mat-form-field class="col">
      <mat-select placeholder="Group" formControlName="group">
        <mat-option *ngFor="let group of groups" [value]="group.name">
          {{group.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    </div>

    <mat-checkbox formControlName="is_staff">Is Staff!</mat-checkbox>

  </form>
  <div mat-dialog-actions class="float-right">
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-raised-button type="submit" [mat-dialog-close]="user.username" cdkFocusInitial (click)="submit()"  class="btn btn-primary">Save</button>



  </div>
</div>

