@import '../../../../../core/scss/fuse';

.contact-form-dialog {
  .mat-dialog-container {
    padding: 0;

    .mat-toolbar {
      flex: 1 0 auto;
      min-height: initial;
    }

    .toolbar-bottom {
      height: auto;
    }
  }
  @include media-breakpoint('xs') {
    width: 100%;
  }

  @include media-breakpoint-up('xs') {
    width: 400px;
  }
  .mat-dialog-content {
    overflow: hidden !important;
  }

  .submit-button {
    width: 220px;
    margin: 1px auto;
    display: block;

    @include media-breakpoint('xs') {
      width: 90%;
    }
  }
  .dialog-content-wrapper {
    max-height: 85vh;
    width: inherit;
    display: flex;
    flex-direction: column;
  }
  .m-0 {
    margin: 0px !important;
  }

  .p-24 {
    padding: 24px !important;
  }
}
